body{
    background-color: rgb(5, 5, 5);
}
.box{
    background: rgb(241, 245, 9);
    padding: 3px;
}
img{
    object-fit: unset;
}
.grid-1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 5px;
}
.grid-1 > article{
    border-radius: 30px;
    background-color: rgb(241, 245, 9);
}
.grid-1 > article img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.grid-2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 5px;
}
.grid-2 > article{
    border-radius: 50px;
    background-color: rgb(9, 245, 135);
}
.grid-2 > article img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}