body {
    background-color: rgb(241, 226, 4);
    background-size: auto;
    background-attachment: fixed;
    background-size: cover;
    color: #0e0d0d;
    font-family: sans-serif;
  }
  
  h1 {
    display: block;
    width: 240px;
    margin: 100px auto 0;
  }
  .container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
    background-color: rgb(7, 7, 7);
    padding: 10px;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 5%;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
    color:rgb(241, 226, 4)
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #eef103;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: #fffb00;
  }
  
  h3,
  label[for='new-task'] {
    color: #f5e400;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #0f0f0f;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }
  input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #f5f103;
  }
  input[type="text"]:focus {
    color: #e8f804;
  }
  
  
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: left;
    width: 318px;
  }
  p > button:hover {
    color: #fffb00;
  }
  
  
  li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #f8fc05;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  li >  input[type="text"] {
    width: 226px;
  }
  li > .delete:hover {
    color: #cfcc23;
  }
  
  
  #completed-tasks label {
    text-decoration: line-through;
    color: #f8fc06;
  }
  
  
  ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }
  
  .created {
    font-size: 15px;
    font-weight: bold;
    color: rgb(2, 2, 2);
    text-align: center;
  }